{
  "extends": ["next", "next/core-web-vitals", "plugin:tailwindcss/recommended"],
  "plugins": ["prettier", "tailwindcss"],
  "rules": {
    "tailwindcss/no-custom-classname": 0,
    "prefer-const": "error",
    "prettier/prettier": "error"
  }
}
