@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

@layer components {
  h2, label, .error {
    @apply text-[0.8rem] font-bold mb-1;
  }

  input {
    @apply w-full bg-cyan-light-gray-2 text-cyan-darkest rounded-md font-bold focus:outline-none focus:ring-1 ring-inset
  }
}
